USE [master]
GO
/****** Object:  Database [Sample]    Script Date: 7/13/2018 6:47:47 PM ******/
CREATE DATABASE [Sample]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sample', FILENAME = N'C:\JKTeam\Reactjs\DB\Sample.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Sample_log', FILENAME = N'C:\JKTeam\Reactjs\DB\Sample_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sample].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sample]
GO
/****** Object:  Table [dbo].[Body]    Script Date: 7/13/2018 6:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Body](
	[HeaderCode] [varchar](10) NOT NULL,
	[Line] [int] NOT NULL,
	[BodyDateTime] [datetime] NULL,
	[Combo1] [nvarchar](10) NULL,
	[CreateUser] [varchar](20) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUser] [varchar](20) NULL,
	[SampleTime] [datetime] NULL,
 CONSTRAINT [PK_Body] PRIMARY KEY CLUSTERED 
(
	[HeaderCode] ASC,
	[Line] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Client]    Script Date: 7/13/2018 6:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Address] [nvarchar](500) NULL,
	[Phone] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[RegistrationDate] [datetime] NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GeneralMaster]    Script Date: 7/13/2018 6:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralMaster](
	[ID] [int] NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[CategoryDesc] [nvarchar](100) NULL,
	[Seq] [int] NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[EngDesc] [nvarchar](255) NULL,
	[ChiDesc] [nvarchar](255) NULL,
	[IsLocked] [bit] NULL,
	[CreateUser] [nvarchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[LastModifiedUser] [nvarchar](20) NULL,
	[LastModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_GeneralMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Header]    Script Date: 7/13/2018 6:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Header](
	[Code] [varchar](10) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[HeaderDate] [date] NULL,
	[HeaderDateTime] [datetime] NULL,
	[Combo1] [nvarchar](10) NULL,
	[CreateUser] [varchar](20) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUser] [varchar](20) NULL,
	[SampleTime] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sample]    Script Date: 7/13/2018 6:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sample](
	[SampleNo] [varchar](10) NOT NULL,
	[SampleText] [nvarchar](100) NULL,
	[SampleTextarea] [nvarchar](200) NULL,
	[SampleRadioButton] [char](1) NULL,
	[Email] [varchar](100) NULL,
	[Relationship] [varchar](10) NULL,
	[Asset] [decimal](12, 2) NULL,
	[Liability] [decimal](12, 2) NULL,
	[SampleDate] [datetime] NULL,
	[CreateUser] [varchar](10) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateUser] [varchar](10) NULL,
	[SampleTime] [datetime] NULL,
 CONSTRAINT [PK_Sample] PRIMARY KEY CLUSTERED 
(
	[SampleNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 7/13/2018 6:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserProfile](
	[StaffNo] [nvarchar](50) NOT NULL,
	[StaffName] [nvarchar](255) NULL,
	[Password] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NULL,
	[Age] [int] NULL,
	[Gender] [char](1) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Location] [nvarchar](15) NULL,
	[CreateUser] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[LastUpdateUser] [nvarchar](50) NULL,
	[LastUpdateDate] [datetime] NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[StaffNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Body] ([HeaderCode], [Line], [BodyDateTime], [Combo1], [CreateUser], [UpdateDate], [UpdateUser], [SampleTime]) VALUES (N'H0001', 1, CAST(N'2018-07-11 00:00:00.000' AS DateTime), N'M', NULL, NULL, NULL, NULL)
INSERT [dbo].[Body] ([HeaderCode], [Line], [BodyDateTime], [Combo1], [CreateUser], [UpdateDate], [UpdateUser], [SampleTime]) VALUES (N'H0001', 2, CAST(N'2018-07-25 00:00:00.000' AS DateTime), N'F', NULL, NULL, NULL, NULL)
INSERT [dbo].[Body] ([HeaderCode], [Line], [BodyDateTime], [Combo1], [CreateUser], [UpdateDate], [UpdateUser], [SampleTime]) VALUES (N'H0001', 3, CAST(N'2018-10-25 00:00:00.000' AS DateTime), N'M', NULL, NULL, NULL, NULL)
INSERT [dbo].[Client] ([Code], [Name], [Address], [Phone], [Fax], [ContactPerson], [RegistrationDate]) VALUES (N'111', N'123132', N'123', N'Friend', N'F', N'123123', CAST(N'2018-12-12 03:00:00.000' AS DateTime))
INSERT [dbo].[Client] ([Code], [Name], [Address], [Phone], [Fax], [ContactPerson], [RegistrationDate]) VALUES (N'222', N'2123', N'2123', N'Friend', N'M', N'2122', CAST(N'2018-07-11 00:00:00.000' AS DateTime))
INSERT [dbo].[Client] ([Code], [Name], [Address], [Phone], [Fax], [ContactPerson], [RegistrationDate]) VALUES (N'333', N'3', N'3', N'3', N'M', N'3', CAST(N'2018-07-25 00:00:00.000' AS DateTime))
INSERT [dbo].[GeneralMaster] ([ID], [Category], [CategoryDesc], [Seq], [Code], [EngDesc], [ChiDesc], [IsLocked], [CreateUser], [CreateDate], [LastModifiedUser], [LastModifiedDate]) VALUES (1, N'Gender', N'Gender', 1, N'M', N'Male', N'Male', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[GeneralMaster] ([ID], [Category], [CategoryDesc], [Seq], [Code], [EngDesc], [ChiDesc], [IsLocked], [CreateUser], [CreateDate], [LastModifiedUser], [LastModifiedDate]) VALUES (2, N'Gender', N'Gender', 2, N'F', N'Female', N'Female', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[GeneralMaster] ([ID], [Category], [CategoryDesc], [Seq], [Code], [EngDesc], [ChiDesc], [IsLocked], [CreateUser], [CreateDate], [LastModifiedUser], [LastModifiedDate]) VALUES (3, N'Relationship', N'Relationship', 1, N'Friend', N'Friend', N'Friend', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Header] ([Code], [Description], [HeaderDate], [HeaderDateTime], [Combo1], [CreateUser], [UpdateDate], [UpdateUser], [SampleTime]) VALUES (N'H0001', N'Test header', CAST(N'2019-06-19' AS Date), CAST(N'2018-06-25 00:00:00.000' AS DateTime), N'Value1', N'Administrator', NULL, NULL, NULL)
INSERT [dbo].[Header] ([Code], [Description], [HeaderDate], [HeaderDateTime], [Combo1], [CreateUser], [UpdateDate], [UpdateUser], [SampleTime]) VALUES (N'H0002', N'Test header 2', CAST(N'2018-07-12' AS Date), CAST(N'2018-07-19 15:38:51.000' AS DateTime), N'Value2', N'Administrator', NULL, NULL, NULL)
INSERT [dbo].[Header] ([Code], [Description], [HeaderDate], [HeaderDateTime], [Combo1], [CreateUser], [UpdateDate], [UpdateUser], [SampleTime]) VALUES (N'H0003', N'Test Header  3', CAST(N'2018-07-12' AS Date), CAST(N'2018-07-18 15:48:11.000' AS DateTime), N'Value3', N'Administrator', NULL, NULL, NULL)
INSERT [dbo].[Sample] ([SampleNo], [SampleText], [SampleTextarea], [SampleRadioButton], [Email], [Relationship], [Asset], [Liability], [SampleDate], [CreateUser], [UpdateDate], [UpdateUser], [SampleTime]) VALUES (N'10000001', N'Text', N'Textarea', N'Y', N'test@test.com', N'Parent', CAST(10000.00 AS Decimal(12, 2)), CAST(10000.00 AS Decimal(12, 2)), CAST(N'2018-02-15 00:00:00.000' AS DateTime), N'', NULL, NULL, CAST(N'2018-02-23 12:22:26.000' AS DateTime))
INSERT [dbo].[UserProfile] ([StaffNo], [StaffName], [Password], [Role], [Age], [Gender], [Mobile], [Email], [Location], [CreateUser], [CreateDate], [LastUpdateUser], [LastUpdateDate]) VALUES (N'Administrator', N'Administrator User', N'1', N'ADMIN', 28, N'M', N'6541234', N'Admin@procurement.com', N'A2200IC004     ', N'Administrator', NULL, NULL, NULL)
INSERT [dbo].[UserProfile] ([StaffNo], [StaffName], [Password], [Role], [Age], [Gender], [Mobile], [Email], [Location], [CreateUser], [CreateDate], [LastUpdateUser], [LastUpdateDate]) VALUES (N'BOUser1', N'Back Office User', N'yGh6GfXA9V5AFwbMK8nTwQ', NULL, 28, N'M', N'6541 7894', N'BOUser1@test.com', N'7104', N'Administrator', NULL, NULL, NULL)
INSERT [dbo].[UserProfile] ([StaffNo], [StaffName], [Password], [Role], [Age], [Gender], [Mobile], [Email], [Location], [CreateUser], [CreateDate], [LastUpdateUser], [LastUpdateDate]) VALUES (N'NingCheung', N'Ning Cheung', N'09lEaAKkQll1XTjm0WPoIA', N'1', 30, N'M', N'65477894', N'test@test.com', N'7101', N'Administrator', NULL, NULL, NULL)
USE [master]
GO
