<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="SqlServerConnString" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1\sql2014;Initial Catalog=ProcurementFB;User ID=sa;Password=P@ssw0rd;"/>-->
    <!-- <add name="SqlServerConnString" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1\sql2014;Initial Catalog=Sample;User ID=sa;Password=P@ssw0rd;"/> -->
    <add name="SqlServerConnString" providerName="System.Data.SqlClient" connectionString="Server=A1NJYGW39GGRS0W\SQLEXPRESS;Database=Sample;Trusted_Connection=Yes;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <!--<httpModules>
      <add name="AccessControlModule" type="AccessControlModule"/>
    </httpModules>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <caching>
      <profiles>
        <add extension=".html" policy="CacheUntilChange"  varyByQueryString="*"/>
      </profiles>
    </caching>
    <staticContent>
    <remove fileExtension=".woff2" />
    <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
  
  
</configuration>