
<div ng-controller="agGridTestCtrl as ctrl">

    <div class="row border-bottom ng-scope top-button-panel">
         
        <ul class="pull-left nav-path font-bold">
            <li>AG Grid</li>
        </ul>
         
    </div>


    <div class="ng-view" id="divSample">

        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-11">
                    <form class="form-horizontal" name="userForm" autocomplete="off" novalidate>

                        <div class="ibox">

                            <div class="ibox-content">

                                <div class="row">
                                    <div class="col-lg-12">

                                        <div ag-grid="gridOptions" class="ag-theme-blue" style="height: 300px;"></div>
                                    </div> 

                                     
                                </div>
                                 
                            </div>
                        </div>


                    </form>
                </div>

            </div>


        </div>

    </div>



</div>
