
<div class="ng-view" id="divSample">

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-11">
                <form class="form-horizontal" name="userForm" autocomplete="off" novalidate>

                    <div class="ibox">

                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Sample No.</label>

                                        <div class="col-lg-8">

                                            <ui-select ng-model="sampleObj.SampleNo"
                                                       theme="bootstrap"
                                                       on-select="ui_select_change('Sample'); sampleIDChange();"
                                                       reset-search-input="false"
                                                       title="Please Select">
                                                <ui-select-match placeholder="Please Select">{{$select.selected.Code}}</ui-select-match>
                                                <ui-select-choices repeat="item.Code as item in refresh_ui_select_list['Sample'] track by $index"
                                                                   refresh="refresh_ui_select('Sample', $select.search, 0, 1)"
                                                                   refresh-delay="0">
                                                    <div>
                                                        <span ng-bind-html="item.Code | highlight: $select.search"></span>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>

                                        </div>
                                         
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" ng-class="{ 'has-error' : userForm.SampleDate.$invalid && userForm.$submitted }">

                                        <label class="col-lg-4 control-label">Sample Date</label>

                                        <div class="col-lg-8">
                                            <div class="input-group date">
                                                <input required class="form-control" name="SampleDate"
                                                       ng-model="sampleObj.SampleDate" date-picker><a class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </a>
                                            </div>
                                            <p ng-show="userForm.SampleDate.$invalid && userForm.$submitted" class="help-block">Sample Date required.</p>
                                        </div>
                                    </div>

                                </div>


                                <div class="col-lg-6">
                                    <div class="form-group" ng-class="{ 'has-error' : userForm.SampleTime.$invalid && userForm.$submitted }">

                                        <label class="col-lg-4 control-label">Sample Time</label>

                                        <div class="col-lg-8">
                                            <div class="input-group date">
                                                <input required class="form-control" name="SampleTime"
                                                       ng-model="sampleObj.SampleTime" date-time><a class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </a>
                                            </div>
                                            <p ng-show="userForm.SampleTime.$invalid && userForm.$submitted" class="help-block">Sample Time required.</p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group" ng-class="{ 'has-error' : userForm.SampleText.$invalid && userForm.$submitted  }">
                                        <label class="col-lg-4 control-label">Sample Text</label>

                                        <div class="col-lg-8">
                                            <input type="text" required class="form-control" name="SampleText" ng-model="sampleObj.SampleText" />
                                            <p ng-show="userForm.SampleText.$invalid && userForm.$submitted" class="help-block">Sample Text required.</p>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Sample Textarea</label>

                                        <div class="col-lg-8">
                                            <textarea class="form-control" ng-model="sampleObj.SampleTextarea"></textarea>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Sample Radio Button</label>

                                        <div class="col-lg-8">
                                            <label class="checkbox-inline">
                                                <input icheck type="radio" name="SampleRadioButton" ng-model="sampleObj.SampleRadioButton" value="Y"> Yes
                                            </label>
                                            <label class="checkbox-inline">
                                                <input icheck type="radio" name="SampleRadioButton" ng-model="sampleObj.SampleRadioButton" value="N"> No
                                            </label>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                                        <label class="col-lg-4 control-label">Email</label>

                                        <div class="col-lg-8">
                                            <input type="email" class="form-control" name="email" ng-model="sampleObj.Email" />
                                            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
                                        </div>

                                    </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Relationship</label>
                                        <div class="col-lg-8">


                                            <ui-select ng-model="sampleObj.Relationship"
                                                       theme="bootstrap"
                                                       reset-search-input="true"
                                                       title="Please Select">
                                                <ui-select-match placeholder="Please Select">{{$select.selected.Desc}}</ui-select-match>
                                                <ui-select-choices repeat="item.Code as item in generalMaster['Relationship']  | filter: $select.search">
                                                    <div>
                                                        <div ng-bind-html="item.Desc | highlight: $select.search"></div>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Total Asset</label>

                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" ng-model="sampleObj.Asset" ui-number-mask />
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Liabilities</label>

                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" ng-model="sampleObj.Liability" ui-number-mask />
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <h5>Child Table</h5>


                            <div>

                                <table class="table table-striped table-bordered inlineEditTable">
                                    <tr>
                                        <th style="width: 25%">Child ID</th>
                                        <th>Relationship</th>
                                        <th>Child Time</th>
                                        <th style="width: 50px;"></th>
                                        <th style="width: 50px;"></th>
                                    </tr>

                                    <tr ng-repeat="child in sampleObj.ChildList track by $index">
                                        <td>
                                            <input type="text" class="form-control" ng-model="child.ID" />
                                        </td>
                                        <td>

                                            <ui-select ng-model="child.Type"
                                                       theme="bootstrap"
                                                       class="form-control"
                                                       reset-search-input="true"
                                                       title="Please Select">
                                                <ui-select-match placeholder="Please Select">{{$select.selected.Desc}}</ui-select-match>
                                                <ui-select-choices repeat="item.Code as item in generalMaster['Relationship']  | filter: $select.search">
                                                    <div>
                                                        <div ng-bind-html="item.Desc | highlight: $select.search"></div>
                                                    </div>
                                                </ui-select-choices>
                                            </ui-select>

                                        </td>
                                        <td style="width: 30%;">

                                            <input required class="form-control" name="SampleTime"
                                                   ng-model="child.Time" date-time />
                                        </td>

                                        <td class="td-btn text-success" ng-click="editChild(child);">
                                            <span class="fa fa-edit"></span>
                                        </td>

                                        <td class="td-btn text-danger" ng-click="removeChild(child)">
                                            <span class="fa fa-trash"></span>
                                        </td>
                                    </tr>

                                </table>
                            </div>

                            <a class="btn btn-success" ng-click="addChild()"><i class="fa fa-plus"></i>&nbsp;Add</a>

                        </div>
                    </div>


                </form>
            </div>

        </div>


    </div>

</div>

