<nav class="navbar-default navbar-static-side sidebar-nav" role="navigation">
    <div class="sidebar-collapse" style="background-color: #484848;">

        <ul side-navigation class="nav metismenu" id="side-menu">

            <li ui-sref-active="active">
                <a ui-sref="index.main">
                    <span class="fa fa-home"></span>
                    <span class="sidebar-nav-item"></span>Home
                </a>
            </li>


            <li ng-class="{inactive: !$state.includes('master'), active: $state.includes('master')}">
                <a>
                    <span class="fa fa-folder"></span>
                    <span class="sidebar-nav-item"></span>Master
                    <span class="fa arrow"></span>
                </a>

                <ul class="nav nav-second-level">
                    <li ui-sref-active="active">
                        <a ui-sref="master.TItem"><span class="nav-label"></span>TItem Master</a>
                    </li>


                    <li ui-sref-active="active">
                        <a ui-sref="master.sample"><span class="nav-label"></span>Sample Master</a>
                    </li>

                    <li ui-sref-active="active">
                        <a ui-sref="master.master3"><span class="nav-label"></span>master3</a>
                    </li>

                    <li ui-sref-active="active">
                        <a ui-sref="master.agGrid"><span class="nav-label"></span>agGrid</a>
                    </li>
                </ul>
            </li>


            <li ng-class="{inactive: !$state.includes('entry'), active: $state.includes('entry')}">
                <a>
                    <span class="fa fa-edit"></span>
                    <span class="sidebar-nav-item"></span>Entry
                    <span class="fa arrow"></span>
                </a>

                <ul class="nav nav-second-level">
                    <li ui-sref-active="active">
                        <a ui-sref="entry.entry1"><span class="nav-label"></span>Entry 1</a>
                    </li>


                    <li ui-sref-active="active">
                        <a ui-sref="entry.entry2"><span class="nav-label"></span>Entry 2</a>
                    </li>
                     
                </ul>
            </li>

        </ul>


    </div>
</nav>
