<div class="row">
    <nav class="navbar navbar-fixed-top top_navi_bg no-borders no-margins" role="navigation" style="margin-bottom: 0;   padding: 0px 0px 0px 10px;">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <ul class="nav navbar-top-links navbar-header">
            <li>
                <a href="" style="font-size: 18px;line-height:60px; padding: 0px; font-weight:bold;">
                    <span class="text-white">Web <span class="text-red">Template</span></span>
                </a>
            </li>
        </ul>

        <ul class="nav navbar-top-links navbar-right">
            <li style="margin-left: 50px;">
                <img style="position: absolute; top:-18px; left: -35px;" alt="image" class="img-circle" src="img/employee-136.png" />
            </li>
            <li>
                <a ng-click="showPullDown = !showPullDown;">
                    <span>
                        <strong class="font-bold">{{loginID}} <b class="caret"></b></strong>
                    </span>
                </a>
                <ul class="m-t-xs dropdown-menu" ng-show="showPullDown" style="display:block;">
                    <li><a ui-sref="index.StaffProfile">User Profile</a></li>
                    <li><a ui-sref="index.ResetPassword">Change Password</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>