<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse sidebar-nav">
        <ul side-navigation class="nav metismenu" id="side-menu">

            <li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-home"></i><span class="nav-label">Home</span> </a>
            </li>
             

            <li>
                <a href=""><i class="fa fa-search"></i><span class="nav-label">Search</span><span class="fa arrow"></span></a>
                <ul class="nav-second-level collapse">

                    <li ui-sref-active="active">
                        <a ui-sref="index.minor"><span class="nav-label">Document Search 1</span></a>
                    </li>

                    <li ui-sref-active="active">
                        <a ui-sref="index.minor"><span class="nav-label">Document Search 2</span></a>
                    </li>

                    <li ui-sref-active="active">
                        <a ui-sref="index.minor"><span class="nav-label">Document Search 3</span></a>
                    </li>
                </ul>
            </li>

        </ul>

    </div>
</nav>
