<nav class="navbar-default navbar-static-side sidebar-nav" role="navigation">
    <div class="sidebar-collapse">

        <ul side-navigation class="nav metismenu" id="side-menu">

            <li ui-sref-active="active">
                <a ui-sref="index.main">
                    <span class="fa fa-home"></span>
                    <span class="sidebar-nav-item">Home</span>
                </a>
            </li>


            <li ui-sref-active="active">
                <a>
                    <span class="fa fa-cog"></span>
                    <span class="sidebar-nav-item">Master</span>
                    <span class="fa arrow"></span>
                </a>

                <ul class="nav nav-second-level">
                    <li ui-sref-active="active">
                        <a ui-sref="index.minor"><span class="nav-label">TItem Master</span></a>
                    </li>


                    <li ui-sref-active="active">
                        <a ui-sref="index.sample"><span class="nav-label">Sample Master</span></a>
                    </li>
                </ul>
            </li>


            <li ui-sref-active="active">
                <a ui-sref="index.minor2">
                    <span class="fa fa-area-chart"></span>
                    <span class="sidebar-nav-item">Report</span>
                </a>
            </li>

        </ul>


    </div>
</nav>
